@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Source Serif Pro', serif;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
}

@import 'site/header';
@import 'site/footer';
@import 'site/nav';

h1,h2,h3,h4,h5,h6 {
  font-family: 'libel_suitregular';
}

.wave-before-patners {
  svg {
    height: 70px;
    width: 100%;

    .cls-1 {
      fill: #17a2b8;
    }
  }
}

.wave-after-patners {
  svg {
    height: 70px;
    width: 100%;
    
    .cls-1 {
      fill: $body-bg;
    }
  }
}

.bg-waves {
  background-image: url('/images/bg-waves.png');
  background-size: cover;
  background-position-y: bottom;
}

.btn-warning {
  color: white!important;
}