@font-face {
    font-family: 'libel_suitregular';
    src: url('libel-suit-rg-webfont.woff2') format('woff2'),
         url('libel-suit-rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}