.home-posts {
  .media {
    img {
      max-width: 120px;
      min-width: 120px;
    }
  }
}

.home-testimonials {
  .media {
    img {
      max-width: 72px;
      min-width: 72px;
      max-height: 72px;
      min-height: 72px;
    }
  }
}
