.site-nav {
  font-family: 'libel_suitregular';
  box-shadow: 0 6px 6px -6px rgba(0,0,0,0.05);

  .dropdown {
    position: initial;

    @media screen and (min-width: 768px) {
      .dropdown-menu.show {
        display: flex;
        width: 100%;
        justify-content: center;
        top: unset;
        border: none;
        border-radius: 0;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        opacity: .9;
        padding: 16px;

        .dropdown-item {
          width: auto;
        }
      }
    }
  }
  
  .nav-link {
    font-size: 20px;
    margin-right: 10px;
  }

  .navbar-brand {
    margin-right: 150px;

    img {
      position: absolute;
      @media screen and (min-width: 768px) {
        bottom: 16px;
      }
      @media screen and (max-width: 767px) {
        top: -36px;
      }
    }
  }
}

.wave-before-navbar {
  position: absolute;
  right: 0;
  left: 0;
  transform: translateY(-98%);
  
  svg {
    height: 70px;
    width: 100%;

    .cls-1 {
      fill: white;
    }
  }
}